

html,
body,
div,
span {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: url("https://www.bootdey.com/img/bgy.png") no-repeat fixed center;
  background-size: cover;
}

.pageContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.fa-2x {
  font-size: 1.5em;
}
