/*Reply*/

.reply {
    height: 200px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
    overflow: scroll;
  }
  
  .reply-send button {
    text-align: center;
    color: #93918f;
    cursor: pointer;
  }
  
  .reply-main {
    padding: 2px 5px !important;
  }

  .reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    height: 100%;
    font-size: 16px;
  }
  
  .reply-main textarea,
  .reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
  }